<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UCI Project 2: Dashboard</title>
  <!-- Bootstrap Theme Litera CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/litera/bootstrap.min.css">

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Orange County Public Employees Salary Record Dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/" type="button" class="btn btn-secondary btn-lg">Year</a>
        <a href="page2" type="button" class="btn btn-primary btn-lg">Department</a>
      </div>
    </div>
    <br/>
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
          <h5>Department:</h5>
          <select id="selDataset2" onchange="optionChanged(this.value)"></select>
        </div>
    </div>
    <br/>
        <!-- <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div> -->
    <div class="row align-items-center">
      <div class="col-md-12 align-items-center">
          <div id="scatter"></div>
      </div>
      <!-- <div class="col-md-6 align-items-center">
        <div id="plotTop10"></div>
      </div> -->
    </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div id="table2"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div id="pieTotalSalary"></div>
    </div>
    <div class="col-md-6">
      <div id="deptTop10"></div>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app2.js') }}"></script>

  <!-- chart js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

</body>

</html>
